@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
  
}

html,
body {
  height: 100%;
  margin: 0;
  background: radial-gradient(circle, rgba(152,255,150,1) 0%, rgba(50,185,47,1) 50%, rgba(0,0,0,1) 100%);;
  font-family: 'Poppins';
  font-size: large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.card {
  position: fixed;
  width: 75%;
  height: 80%;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 2px black;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
 
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.leftpart {
  width: 30%;
  height: 100%;
  background-color: #12b600;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
  
}

.contact {
  color: white;
  padding-left: 10%;
  font-size: larger;
}

.divider {
  height: 5%;
  background-color: white;
}

.social {
  color: white;
  padding-left: 10%;
  margin-bottom: 15%;
  font-size: larger;
    
}

.icons img{
  width: 30px;
  height: 30px;
}

.icons img:hover{
  transition: transform 1s ease;
  transform: scale(1.2);
}

.userPhoto{
  width: 100%;
  height: 100%;
}

.userphoto-container{
  position: absolute;
  top: 40px;
  left: 360px;
  height: 650px;
  width: 500px;
  z-index: 4;
}


.rightpart{
  position: absolute; 
  top: 10%; 
  right: 15%;
  
}

.rightpart h1{
  color: #1eff05;
  font-size: 40px;
  margin-bottom: 0;
  
}

.rightpart span{
  color: black;
}

.rightpart h2{
  margin-top: 0;
}

/* Shapes */
.square {
  position: absolute;
  left: 325px;
  top: 100px;
  height: 70px;
  width: 70px;
  background-color: lightgray;
  z-index: 5;
}

.rectangle {
  position: absolute;
  left: 840px;
  top: 60px;
  height: 30px;
  width: 70px;
  background-color: lightgray;
  z-index: 5;
}

.square-two {
  position: absolute;
  left: 415px;
  top: 650px;
  height: 70px;
  width: 70px;
  background-color: lightgray;
  z-index: 5;
}

.circle {
  position: absolute;
  background-color: #12b600;
  left: 825px;
  top: 650px;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  z-index: 3;
}

.corner-circle {
  position: absolute;
  background-color: #12b600;
  right: 0px;
  top: 0px;
  height: 70px;
  width: 70px;
  border-radius: 0 20px 0 70px;
  z-index: 5;
}  
